<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title ?? 'Idea' }}</title>
    {{ vite src="resources/css/app.css|resources/js/app.js" }}
</head>

<body class="min-h-screen overflow-x-hidden bg-background text-foreground flex flex-col">
    {{ partial:partials/nav }}

    <main class="w-full flex-1 space-y-6 px-4 py-6 sm:px-6 sm:py-7">
        {{ template_content }}
    </main>

    {{ partial:partials/footer }}
</body>
</html>
